#social-menu {
    display: inline;
}

.header-image {
    text-align: center;

}

.nav-item {
    font-size: xx-large;
    color: black;
}

a {
    color: rgba(0, 0, 0, 0.288);
    text-decoration: none;
}

.social-icons {
    padding: 100px;
}

#facebook:hover 
{
     color:rgba(18, 77, 241, 0.781); 
     text-decoration:none; 
     cursor:pointer;  
}

#twitter:hover 
{
     color:rgb(3, 160, 250); 
     text-decoration:none; 
     cursor:pointer;  
}

#instagram:hover 
{
    background: -webkit-linear-gradient(rgb(202, 13, 240), yellow);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
     text-decoration:none; 
     cursor:pointer;  
}