#social-menu {
    display: inline;
}

.header-image {
    text-align: center;

}

.nav-link {
    /* position: absolute; */
    right: 200px;
}



.social-icon {
    color: rgba(0, 0, 0, 0.288);
    text-decoration: none;
    padding: 8px
}

.occasion-link {
    color: rgba(0, 0, 0, 0.733);
    text-transform: uppercase;
    font-family: 'Carrois Gothic SC', sans-serif;
    padding: 5px; 
}

.occasion-link:hover {
    color:rgba(0, 0, 0, 0.247);
    text-decoration: none;
}

#facebook:hover 
{
     color:rgba(48, 120, 253, 0.986); 
     text-decoration:none; 
     cursor:pointer;  
}

#twitter:hover 
{
     color:rgb(43, 174, 250); 
     text-decoration:none; 
     cursor:pointer;  
}

#instagram:hover 
{
    background: -webkit-linear-gradient(rgb(202, 13, 240), yellow);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
     text-decoration:none; 
     cursor:pointer;  
}

footer {
    position: relative;
}

.footer-copyright{
    color: rgba(0, 0, 0, 0.733);
    text-transform: uppercase;
    font-family: 'Carrois Gothic SC', sans-serif;
}